@import 'vars.styl'
@import 'normalize.css'
.clear
	clear both
body
	font-family web
	height 200px
	overflow-x hidden
	
	
/*------------------------------------------------------------------------------------------------header*/
.top
	height 10px
	background-color marron
	width auto
.coloryea
	height 110px
	width auto
	background-color amarillo
header
	height 110px
	background-color amarillo
	width 1200px
	margin 0 auto
	.logo
		float left
		margin-left 150px

		img
			width 320px
			height auto
	.textop
		float left
		background-color amaluz
		padding 0 70px
		text-align center
		position relative
		right 37px
		h2
			font-size 1.7em
			line-height 1
			margin-top 10px
		span
			position relative
			bottom 15px
.social
	float left
	position relative
	top 30px
	left 30px
		
	.fb-like
		position relative
		bottom 7px
/*------------------------------------------------------------------------------------------------baner*/
.baner
	height 213px
	width auto
	background-color amaluz
	.label
		background url(assets/etiqueta.png)
		float left
		height 253px
		width 305px
		background-position 0 -42px
		position relative
		right 247px
		span
			float left
			position relative
			left 44px
			width 152px
			font-size 2em
			font-weight 700
			top 44px
			color #fff
			line-height 28px
	
	.content
		float left
		position relative
		right 201px
		top 25px
		width 400px
		.boton
			
			display inline-block
			a
				text-decoration none
				color #fff
				display block
				padding 8px 25px
				background-color azulbtn
				font-weight 700
				border-radius(4px)
				transition(.2s)
				&:hover
					background-color rosa
		.texto
			h2
				font-size 1.59em
				span
					color rosa
			p
				position relative
				bottom 20px
.yel
	background-color amarillo
	width auto
	height 40px
/*------------------------------------------------------------------------------------------------productos*/

#productos
	height 320px
	width auto
	background-color amarillo
	.prodcenter 
		margin 0 auto
		width 1024px
		.group
			margin-top 20px
			border 1px solid bordecolor
			width 240px
			margin-left 10px
			position relative
			top 43px
			background-color #fff
			padding-bottom 100px
			float left
			.imagen
				position relative
				bottom 35px
			.title
				position relative
				bottom 35px
				text-align center
				width 90%
				margin 0 auto
				a
					text-decoration none
			.precio
				position relative
				bottom 30px
				text-align center
				font-weight 700
			.boton
				position relative
				top 28px
				text-align center
				
				a
					text-decoration none
					padding 5px 15px
					background-color azulbtn
					color #fff
					border-radius(4px)
					transition(.2s)
					&:hover
						background-color rosa
			.lista
				position relative
				top 50px
				text-align center
				font-size .8em
				a
					text-decoration none
/*------------------------------------------------------------------------------------------------baner02*/
.baner02
	background-color amaluz
	margin-top 70px
	height 104px
	width auto
	.gropobar2
		width 700px
		margin 0 auto
		.canasta
			float left
			
		.text
			float left
			position relative
			top 2px
			h2
				font-size 2em
				position relative
				bottom 12px
			span
				font-size 1.62em
				position relative
				bottom 50px
				height 0
/*------------------------------------------------------------------------------------------------pasos*/
.pasyel
	background-color amarillo
	height 200px
	position relative
	bottom 32px
.pasgris
	background-color #efefef
	position relative
	bottom 33px
	height 328px	
#pasos
	.all
		position relative
		width 1200px
		margin 0 auto
		bottom 30px
		.grupopas
			float left
			width 260px
			margin-left 15px
			position relative
			bottom 466px
			background-color #fff
			height 343px
			.title
				background-color paso
				h2
					margin 0 0 0 12px
					padding 5px 0
			.imagen
				margin 14px 15px
			.content1
				margin 0 20px
				font-size .9em
				margin-top 30px
			.content2
				margin 0 20px
				font-size .9em
				position relative
				bottom 18px
.botonazo
	position relative
	bottom 417px
	left 460px
	a
		text-decoration none
		padding 8px 25px
		background-color azulbtn
		color #fff
		font-size 1.4em
		border-radius(4px)
		transition(.2s)
		&:hover
			background-color rosa
/*------------------------------------------------------------------------------------------------formas*/

.formas
	font-size 1.4em
	position relative
	left 40px
	bottom 391px
	width 400px
	margin 0 auto
.barr
	background-color #efefef
	height 120px
	width auto
	position relative
	bottom 380px
.imagenbarr
	position relative
	bottom 495px
	width 120px
	margin 0 auto
	right 27px
.marcaspay
	position relative
	bottom 478px
	width 947px
	margin 0 auto
/*------------------------------------------------------------------------------------------------footer*/
footer
	position relative
	bottom 454px
	background-color #000
	color #fff
	padding 20px 0
	overflow hidden
	height 65px
	.legal
		position relative
		width 400px
		margin 0 auto
		.fooel
			position relative
			bottom 12px
		.text
			position relative
			left 116px
			bottom 92px
			