marron = #867D00
amarillo = #ffe947
amaluz = #fff4a3
azulbtn = #1655b3
rosa = #eb174f
bordecolor = #808080
paso = #f6ebd8

web = 'Istok Web', sans-serif;

// Funciones para efectos y propiedades CSS3

border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	border-radius arguments

transition()
	-webkit-transition:arguments ease-in;  
	-moz-transition:arguments ease-in;  
	-o-transition:arguments ease-in;  
	-ms-transition:arguments ease-in;  
	transition:arguments ease-in; 
	
box-sizing()
	-webkit-box-sizing: arguments;
	-moz-box-sizing: arguments;
	box-sizing: arguments; 
	
text-shadow()
	text-shadow: arguments;
	
box-shadow()
	-webkit-box-shadow: arguments;
	box-shadow: arguments;

